.container {
    display: flex;
    margin: 5px 2px;
}

.entry {
    flex: 2;
    background-color: #333;

}

.para {
    /* flex: 2; */
    padding: 5px;
    border-radius: 1%;
    overflow:hidden;
    /* flex-wrap: wrap; */
}

.item {
    /* margin: 0 5px; */
    display: block;
    border-radius: 5px;
}

.image {
    flex:1;
    max-height:60vh;
    width: auto;
    object-fit: cover;
    margin-right: 5px;
}

#to-prod {
    text-decoration: none;
}


#arrow {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

#start-button {
    display: flex;
    align-items: center;
    margin: 20px auto;
    padding: 10px 30px;
    border-radius: 5px;
    height: 70px;
    /* width: 300px; */
    /* transition: background-color 0.4s ease; */
    transition: transform 0.3s ease;
}



#start-button:hover #arrow{
    transform: scale(1.2);
}

#start-button:hover {
    

    transform: scale(1.1);
    

    background: hsla(0, 0%, 20%, 1);

    background: linear-gradient(90deg, hsla(0, 0%, 20%, 1) 0%, hsla(0, 0%, 14%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(0, 0%, 20%, 1) 0%, hsla(0, 0%, 14%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(0, 0%, 20%, 1) 0%, hsla(0, 0%, 14%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#333333", endColorstr="#242424", GradientType=1 );
}




















