.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    padding: 15px 20px;
    /* font-size: large; */
    /* flex-wrap:wrap; */
    /* overflow: hidden; */
    max-height: 10vh;
}


.navLinks {
    list-style: none;
    display: flex;
    flex: 2;
    justify-content: flex-end;
    flex-wrap: wrap;
}


.logo {
    flex: 1;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    justify-content: flex-start;
}

.navLinks li {
    margin: 15px 15px;
}

.navLinks a {

    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.navLinks a:hover {
    color: #858989; /* change the color according to requirement */
}



.footer {
    background-color: #222;
    color: white;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    max-height: 20vh;
}

.footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footerLinks {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;

}

.footerLinks li {
    display: inline;
}

.footerLinks button {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: color 0.3s ease;
    border: none;
    background-color: transparent;

}



.footerLinks button:hover {
    color: #858989;
  }
  

  
  /* Responsive Design */
  @media (max-width: 600px) {
    .footerLinks {
      flex-direction: column;
      gap: 5px;
    }
  }
