/* Team Details */
/* Vishwakarma, Himanshu | Marquez, Andrea */
/* 1002240465 | 1001515535 */


.footer {
    background-color: #222;
    color: white;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    max-height: 20vh;
}

.footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footerLinks {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;

}

.footerLinks li {
    display: inline;
}

.footerLinks button {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: color 0.3s ease;
    border: none;
    background-color: transparent;

}



.footerLinks button:hover {
    color: #858989;
}



/* Responsive Design */
@media (max-width: 600px) {
    .footerLinks {
        flex-direction: column;
        gap: 5px;
    }
}